.card {
  background-color: aquamarine;
  border-radius: 4px;
  padding: 10px;
}

.large-container {
  container-type: inline-size;
  container-name: large-container;
}

.small-container {
  container-type: inline-size;
  container-name: small-container;
}

@container large-container (max-width: 600px) {
  .card {
    background-color: crimson;
  }
}

@container small-container (max-width: 400px) {
  .card {
    background-color: gold;
  }
}
