.main {
  padding: 15px;
}

b {
  color: hotpink;
}

@layer framework {
  @layer default {
    p {
      font-size: 0.75em;
    }
  }

  p {
    font-size: 1em;
  }

  @layer theme {
    p {
      font-size: 0.5em;
    }
  }
}
